.button {
    -fx-background-color: rgb(234, 234, 240);
    -fx-text-fill: rgb(80, 80, 80);
    -fx-font-size: 20px;
    -fx-border-color: rgb(234, 234, 240);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgb(108, 108, 108), 10, 0, 2, 2);
}

.button:hover {
    -fx-opacity: 0.9;
    -fx-cursor: hand;
}

.combo-box {
    -fx-background-color: rgb(234, 234, 240);
    -fx-text-fill: rgb(80, 80, 80);
    -fx-font-size: 20px;
    -fx-border-color: rgb(234, 234, 240);
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgb(108, 108, 108), 10, 0, 2, 2);
}

.product-box {
    -fx-padding: 5;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: lightgrey;
}

.product-name, .product-price, .product-description, .product-stock {
    -fx-font-size: 12px;
}

.product-box:hover {
    -fx-cursor: hand;
}

.scroll-pane > .viewport {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane {
	-fx-border-color: transparent;
    -fx-background-insets: 0;
}

.list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-pref-width: 500px;
    -fx-pref-height: 600px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.item-box {
    /*-fx-background-color: transparent;*/
}

.total-text {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.cart-item-name {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.cart-item-price {
    -fx-font-size: 12px;
    -fx-text-fill: #666;
}

.cart-item-spinner {
    -fx-font-size: 10px;
}
